<?xml version="1.0" encoding="UTF-8"?>
<Configuration xmlns="http://logging.apache.org/log4j/2.0/config"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="https://raw.githubusercontent.com/apache/logging-log4j2/release-2.x/log4j-core/src/main/resources/Log4j-config.xsd">
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout
				pattern="%d{HH:mm:ss.SSS} %-5level - %msg%rEx%n" />
		</Console>
		<Console name="ConsoleDebug" target="SYSTEM_OUT">
			<PatternLayout
				pattern="%d{HH:mm:ss.SSS} %-5level %logger{1}:%L - %msg%n" />
		</Console>
	</Appenders>
	<Loggers>
		<Root level="debug">
			<AppenderRef ref="ConsoleDebug" />
		</Root>
		<Logger name="org.reflections" level="error"/>
	</Loggers>
</Configuration>
